# Configuración de Entorno
PYTHONPATH=.

# Notion
NOTION_TOKEN=tu_token_aqui
NOTION_DATABASE_ID=tu_id_base_datos_aqui

# Telegram
TELEGRAM_BOT_TOKEN=tu_bot_token_aqui
TELEGRAM_CHAT_ID=tu_chat_id_aqui
